---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import ContactForm from "../components/ContactForm"

const recaptchaSiteKey = import.meta.env.RECAPTCHA_SITE_KEY;
---
<html>
    <head>
        <script is:inline src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        <Layout>
            <h1 class="text-3xl font-bold mb-4">Contact Us</h1>
            <p class="mb-4">Feel free to reach out to us with any questions or feedback!</p>
            <ContactForm client:load />
        </Layout>

        <button class="g-recaptcha"
        data-sitekey={recaptchaSiteKey}
        data-callback="onSubmit"
        data-action="submit"></button>

        <script is:inline>
        function onSubmit(token) {
            fetch("/recaptcha", {
            method: "POST",
            body: JSON.stringify({ recaptcha: token })
            })
            .then((response) => response.json())
            .then((gResponse) => {
            if (gResponse.success) {
                // Captcha verification was a success
            } else {
                // Captcha verification failed
            }
            })
        }
        </script>
    </body>
</html>