---
const response = await fetch('https://garage.robmcd.name/');
const temps = await response.json();
---

<div>
  <h1>Garage Temperatures</h1>
  
    <h3>Temp Probe 0:</h3>
    <p></p>{temps.temp["0"].c}°C, {temps.temp["0"].f}°F, {temps.temp["0"].h}%</p>
    <h3>Temp Probe 1:</h3>
    <p></p>{temps.temp["1"].c}°C, {temps.temp["1"].f}°F, {temps.temp["1"].h}%</p>
    <h3>Average:</h3>
    <p></p>{temps.temp["avg"].c}°C, {temps.temp["avg"].f}°F, {temps.temp["avg"].h}%</p>
  
</div>