---
import '../styles/global.css'
const currentYear = new Date().getFullYear();
---   
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>Garage Temperature Monitor</title>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-YKDZ0787JG"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-YKDZ0787JG');
		</script>
	</head>
	<body>
		<div class="flex flex-col min-h-screen">
			<header class="bg-blue-600 text-white p-4">
				<div class="container mx-auto flex justify-between items-center">
				<h1 class="text-2xl font-bold"><a href="/">Garage Temperature Monitor</a></h1>
				<nav class="flex gap-4">
					<a href="/" class="hover:text-blue-200">Home</a>
					<a href="/about" class="hover:text-blue-200">About</a>
					<a href="/contact" class="hover:text-blue-200">Contact</a>
				</nav>
				</div>
			</header>
			<main class="flex-grow p-4 m-auto container">
				<slot />
			</main>
			 <footer class="bg-gray-300 flex items-center justify-center p-4">Copyright © {currentYear} Garage Temperature Monitor. All rights reserved.</footer>
		</div>
	</body>
</html>
